<% layout('layouts/boilerplate') %> 

    <div id="cluster-map"></div>

    <h1 class="my-5">All the Campgrounds</h1>
    
    
        <% for ( let c of campGrounds){%> 
            <div class="card mb-3" >
              <div class="row">
                <div class="col-md-4">
                    <% if(c.images.length) {%> 
                    <img src="<%= c.images[0].url %> " alt="" class="img-fluid">
                    <% }else{ %> 
                        <img class="img-fluid" src="https://images.unsplash.com/photo-1542332213-1d277bf3d6c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGNhbXBncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                    <% } %> 
                </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= c.title %> </h5>
                            <p class="text-card"> <%= c.description %> </p>
                            <p class="text-card">
                                 <small class="text-muted">
                                    <%= c.location %> 
                                 </small>
                             </p>
                            <a href="/campgrounds/<%= c._id %> "class="btn btn-primary">View Campground</a>
                            
                        </div>
                    </div>
              </div>
            </div>
        <%  }%> 


        <script>
            const mapKey = '<%-process.env.MAPBOX_TOKEN%>'
            const campgrounds = {features :<%- JSON.stringify(campGrounds)%>}
         </script>

        <script src="/JS/clusterMap.js"></script>